force-app/main/default/flows/Outbound_Modify_Appointment_with_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>811</locationX>
        <locationY>375</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkType</name>
            <value>
                <elementReference>workType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_Service_Appointment_for_Approval</name>
        <label>Submit Service Appointment for Approval</label>
        <locationX>1028</locationX>
        <locationY>141</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Auto submitted through flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Service_Appointment_Reschedule_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Service_Appointment_Id</name>
        <label>Set Service Appointment Id</label>
        <locationX>176</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_Slot_Stage</name>
        <label>Set Time Slot Stage</label>
        <locationX>354</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>1003</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Service_Appointment_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>713</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the current stage to CandidateStage.</description>
        <name>SetStageToCandidateStage</name>
        <label>Set Stage to Candidate Stage</label>
        <locationX>66</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectNewServiceResourceScreen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Appointment_Status_Category</name>
        <label>Check Appointment Status Category</label>
        <locationX>531</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanceledAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreen</targetReference>
            </connector>
            <label>Canceled Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to assign a different service resource to the service appointment being modified.</description>
        <name>IsModifyServiceAppointment</name>
        <label>Modify Service Appointment?</label>
        <locationX>168</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>Set_Time_Slot_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsReassign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changeServiceResource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStageToCandidateStage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Custom flow for Outbound Modify Appointment with Approval Process</description>
    <environments>Default</environments>
    <interviewLabel>Outbound Modify Appointment with Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Outbound Modify Appointment with Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>357</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsModifyServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BlockTimeBeforeAppointment</queriedFields>
        <queriedFields>BlockTimeAfterAppointment</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>385</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Status_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>AdditionalInformation</queriedFields>
        <queriedFields>AppointmentType</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
    </recordLookups>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>803</locationX>
        <locationY>143</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>ServiceAppointment.StatusCategory</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>913</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>newFlowReview</name>
            <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ServiceAppointment.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>serviceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>optionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointment</name>
                <value>
                    <elementReference>ServiceAppointment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>showServiceResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <elementReference>isSlotChanged</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeId</name>
                <value>
                    <elementReference>ServiceAppointment.WorkTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>optionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectNewServiceResourceScreen</name>
        <label>Select New Service Resource</label>
        <locationX>177</locationX>
        <locationY>684</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Time_Slot_Stage</targetReference>
        </connector>
        <fields>
            <name>SelectNewServiceResourceScreenComponent</name>
            <extensionName>runtime_appointmentbooking:flowCandidate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeId</name>
                <value>
                    <elementReference>ServiceAppointment.WorkTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>selectedServiceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>skillsStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>543</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <elementReference>isSlotChanged</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workType</name>
                <value>
                    <elementReference>workType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSlotChanged</assignToReference>
                <name>isSlotChanged</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Out_Modify</sourceTemplate>
    <stages>
        <name>CandidateStage</name>
        <isActive>false</isActive>
        <label>Select Candidate</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Service_Appointment_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>changeServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the selected Engagement Channel Type.</description>
        <name>engagementChannelTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSlotChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
